# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
*.sqlite3
db.sqlite3

# Environments
.env
.venv
env/
venv/
ENV/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
